@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Mono+One&family=Work+Sans:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  
}

body {

  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #1b1a1a;
  overflow-x: hidden;
  max-width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

p {
  font-family: 'Work Sans', sans-serif;
}

li {
  list-style-type: none;
}

.title {
  position: relative;
  text-align: left;
  color: white;
}

.navigation {
  background-color: #1F1F21;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
  height: 5em;
}

a {
  margin: 25px;
  padding: 10px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #7F5AF0;
}

.nav-active {
  color: #7F5AF0;
}

.logo{
  width: 7em;
}

.movies h1{
  color: #7f5af0;
  
}

.images{
  width:200px;
  border-radius: 10px;
}

.imageActor {
  width: 330px;
}


.liActor li:hover {
  color: #FFBB00;
  border-bottom: 1px solid #FFBB00;
}

.liActor li {
  border-bottom: 1px solid #1B1A1A;
  font-size: 1.2em;
}

hr {
  color: #FFBB00;
}

.inputField button{
  border-radius: 5px;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0 0 0 1em;
  background-color: #7f5af0;
  color: #ffffff;
}

.inputField Button:hover{
  transform: scale(1.1);
}
.inputField input{
  border: none;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0 0 0 1em;
  border-radius: 5px;
  color: #01010149;
}

.inputField{
  margin: 2em 0 ;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 200px;
  height: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	text-align: center;
  border-radius: 0 0 10px 10px;
}
.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.footer{
  background-color: white;
  grid-area: footer;
  display: none;
}

.main{
  grid-area: main;
}

.movieDescription{
  display: flex;
  flex-direction: row; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100%;
  
}

.bgDetails{
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 20%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.actorImg{
  width: 100px;
  margin: 0;
}

.categorie button{
  border-radius: 5px;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: #7f5af0;
  color: #ffffff;
}
.categorie{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review{
  margin: 5em;
}
.review > p,
.review> h3{
  color: #c9c9c9;
  font-family: 'Work Sans', sans-serif;
  
}
.review>h3{
  color: #7f5af0;
  font-weight: 700;
  text-align: left;
  margin-left: 2em;
}