@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Mono+One&family=Work+Sans:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #020916;
  overflow-x: hidden;
  max-width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

p {
  font-family: 'Work Sans', sans-serif;
}

li {
  list-style-type: none;
}

.title {
  position: relative;
  text-align: left;
  color: white;
}

.navigation {
  background-color: #1F1F21;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
  height: 5em;
}

a {
  margin: 25px;
  padding: 10px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #7F5AF0;
}

.nav-active {
  color: #7F5AF0;
}

.logo {
  width: 7em;
}

.movies h1 {
  color: #7f5af0;
}

/*Fiche Actor*/
.images {
  width: 200px;
  border-radius: 10px;
}

/*Sizing de l'image de l'acteur*/
.imageActor {
  width: 300px;
  border-radius: 20px;
}

/*Lien dans la page actor ex: Resume Bande announce etc..*/
.liActor li {
  border-bottom: 1px solid #1B1A1A;
  font-size: 1.2em;
  padding-bottom: 30px;
}

/*Le Hover orange des liens */
.liActor li:hover {
  color: #FFBB00;
  border-bottom: 1px solid #FFBB00;
  cursor: pointer;
  padding-bottom: 30px;
}

/*Badge de Couleur mauve (PROBLEM AVEC LE RADIUS)*/
.actoreBadge {
  color: rgb(255, 255, 255);
  border: 2px solid #7F5AF0;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}

/*Hr du haut de la fiche acteur*/
.hr {
  color: #FFBB00;
  margin-top: -44px;
}


/*Hr du bas de la fiche acteur*/
.hr2 {
  color: #FFBB00;
  margin: 42px 0 50px 0;
  width: 2000px;
}

/*Gestion de L'espace pour les h4 fiche acteur*/
.filmographie {
  padding: 0px 0px 0px 21px;
  margin: 0px 50em 0px 0px;
}

/*Ligne Orange en Degrader*/
.degrade-horizontal {
  background: linear-gradient(to right, #FFBB00, #020916);
  width: 500px;
  height: 3px;
}

#tableActor td,
#tableActor th {
  border: 1px solid #ddd;
  padding: 8px;
}


.tableFilmographie {
  margin: 2em 0em 3em 7em;
}

#tableActor th {
  padding: 10px 20px 10px 20px;
}

/*Fin Fiche Acteur*/
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 200px;
  height: 300px;
  transition: 0.5s ease;
  opacity: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

/*Footer*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #16161A;
  color: white;
  text-align: center;
  top: 0%;
}

/*FIN Footer*/
.main {
  grid-area: main;
}

.movieDescription {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.bgDetails {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 20%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.actorImg {
  width: 100px;
  margin: 0;
}

.categorie button {
  border-radius: 5px;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: #7f5af0;
  color: #ffffff;
}

/* .pagination button{
  border-radius: 5px;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: #7f5af0;
  color: #ffffff;
} */

.categorie {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review {
  margin: 5em;
}

.review>p,
.review>h3 {
  color: #c9c9c9;
  font-family: 'Work Sans', sans-serif;

}

.review>h3 {
  color: #7f5af0;
  font-weight: 700;
  text-align: left;
  margin-left: 2em;
}

/*NAVIGATION MOBILE */

@media screen and (max-width: 600px) {
  .navigation a {
   display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}